@CHARSET "UTF-8";

@import url("./theme.css");

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
   	   format("woff");
  font-weight: normal;
  font-style: normal;
}

#res_tr1 td{
	width: 300px;
	text-align: center;
}


/* <button class="button button--antiman button--round-l button--text-medium"><i class="button__icon icon icon-plus"></i> */

.writebtn{
  background: none;
  border: none;
  height: 40px;
  width: 120px;
  transition: color 0.3s;
  background-color: #adc2a9;
  border-radius: 10px;
  display: inline;
  float: right;
  margin-right: 4%;
  padding: 5px;
}

.wrapper{
	text-align: center;
	width: 70%;
	color: black;
}

.container{
	width : 100%;	
	display : grid;
	grid-template-columns : 0.5fr 2fr 2fr 1fr 3fr;
	grid-template-row : 20fr;
	grid-gap: 10px 20px;
	box-sizing: 100%;
	border-top: solid 1px var(--color-gray-500);
	border-bottom: solid 1px var(--color-gray-500);
	
}

.container div{
	margin: auto;
	padding-top: 20px;
}


.wrapper a{
	text-decoration: none;
	color: black;
}

.ss{
	font-weight: bold;
}

.numdiv{
	width: 50px;
}


.boardlist{
	text-align: center;
}

h2{
	text-align: center;
}