@CHARSET "UTF-8";

@import url("./theme.css");

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
   	   format("woff");
  font-weight: normal;
  font-style: normal;
}

@media screen and (min-width: 768px) {

	body {
		margin: auto;
	}
	.tablediv{
		width: 90%;
		margin: auto;
	}
	table {
		width: 70%;
		margin: auto;
	}
	td {
	 text-align: center;
	}
	span {
	 text-align: center;
	}
	
	textarea {
		width: 100%;
		height: 500px;
		resize: none;
	}
}

@media screen and (max-width: 768px) {
	body {
		max-width: 750px;
		margin: auto;
	}
	.tablediv{
		width: 300px;
	}
	table {
		width: 550px;
		margin: auto;
	}
	td {
	 text-align: center;
	}
	span {
	 text-align: center;
	}
	
	textarea {
		width: 70%;
		height: 300px;
		resize: none;
	}
}