@CHARSET "UTF-8";

@import url("./theme.css");

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
   	   format("woff");
  font-weight: normal;
  font-style: normal;
}

#tb{
    margin-left:auto; 
    margin-right:auto;
}