@CHARSET "UTF-8";

@import url("./theme.css");

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
   	   format("woff");
  font-weight: normal;
  font-style: normal;
}

/* .field1 { */
/* 	margin : 50px 50px; */
/* 	border : solid 1px grey; */
/* } */

/* table{ */
/* 	margin : 50px 50px;	 */
/* } */

/* .field2 { */
/* 	margin : 50px 50px; */
/* 	border : solid 1px grey; */
/* 	text-align: center; */
/* 	font-size: small; */
/* } */

/* div{ */
/* 	margin : 50px 50px; */
/* 	font-size: small; */
/* 	text-align: center; */
/* } */

h4{
	text-align: center;
	font-weight: bold;
}

fieldset{
	
	margin : 50px 50px;
	border : solid 1px grey;
}

table{
	font-size: small;
}

legend{
	text-align: center;
	font-weight: bold;
}

.div{
	font-size: small;
	
}

hr{
	border: none;
}
