@CHARSET "UTF-8";

@import url("./theme.css");

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
   	   format("woff");
  font-weight: normal;
  font-style: normal;
}

/* <button class="button button--antiman button--round-l button--text-medium"><i class="button__icon icon icon-plus"></i> */

.writebtn{
  background: none;
  border: none;
  height: 40px;
  width: 150px;
  transition: color 0.3s;
  background-color: #adc2a9;
  border-radius: 10px;
  display: inline;
  float: right;
  margin-right: 4%;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

.wrapper{
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	width: 70%;
}

.title_img{
	   position:relative;
	   width: 100%;
	   height:200px;
	   overflow: hidden;
	   margin-bottom: 50px;
/*       justify-content:center;    */
   
/*    display:flex; */
/*    justify-content:center;    */
}

	.title_img img{
	   width: 100%;
	   height: 100%;
	   object-fit:cover;
	/*    border-radius : 40px; */
	}

	.img_box{
	   width: 100%;
	   height: 200px;
	   background-color: black;
	   position: absolute;
	   top: 0;
	   left: 0;
	   opacity: 0.33;
	   z-index: 1;
	/*    border-radius : 40px; */
	   
	}

	.title{
	   position: absolute;
	   top: 40%;
	   left: 50%;
	   transform: translate(-50%, -50%); 
	   z-index: 2;
	   color: white;
	   font-size: 40px;
	   font-weight: bold;
	   
	}

.container{
	width : 100%;	
	display : grid;
	font-size: 20px;
	grid-template-columns : 0.5fr 2fr 0.5fr 1fr 1fr;
	grid-template-row : 20fr;
	grid-gap: 10px 20px;
	box-sizing: 100%;
	border-top: solid 1px var(--color-gray-500);
	border-bottom: solid 1px var(--color-gray-500);
}

.container div{
	margin: auto;
	padding-top: 20px;
	height: 50px;
}


.wrapper a{
	text-decoration: none;
	color: black;
}

.ss{
	font-weight: bold;
}

.numdiv{
	width: 50px;
}


.boardlist{
	text-align: center;
}

h1{
	text-align: center;
}
