@CHARSET "UTF-8";

@import url("./theme.css");

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
   	   format("woff");
  font-weight: normal;
  font-style: normal;
}

/* <button class="button button--antiman button--round-l button--text-medium"><i class="button__icon icon icon-plus"></i> */

.writebtn{
  background: none;
  border: none;
  height: 30px;
  transition: color 0.3s;
  background-color: #adc2a9;
  border-radius: 20px;  
}

.boardlist{
	text-align: center;
}

fieldset{
	
	margin : 50px 50px;
	border : solid 1px grey;
/* 	border-color: #adc2a9; */
}

h2{
	text-align: center;
}

table{
	font-size: 14px;
}