@CHARSET "UTF-8";

@import url("./theme.css");

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
   	   format("woff");
  font-weight: normal;
  font-style: normal;
}

legend{
	text-align: center;
	font-weight: bold;
}

fieldset {
	margin : 50px 50px;
	border : solid 1px grey;
}

.td{
	font-weight: bold;
}
hr{
	border: none;
}