@CHARSET "UTF-8";

@import url("./theme.css");

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
   	   format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
	text-align: center;
}

.wrapper{
	width: 75%;
}

.title_img{
	   position:relative;
	   width: 100%;
	   height:200px;
	   overflow: hidden;
	   margin-bottom: 50px;
/*       justify-content:center;    */
   
/*    display:flex; */
/*    justify-content:center;    */
}

	.title_img img{
	   width: 100%;
	   height: 100%;
	   object-fit:cover;
	/*    border-radius : 40px; */
	}

	.img_box{
	   width: 100%;
	   height: 200px;
	   background-color: black;
	   position: absolute;
	   top: 0;
	   left: 0;
	   opacity: 0.33;
	   z-index: 1;
	/*    border-radius : 40px; */
	   
	}

	.title{
	   position: absolute;
	   top: 40%;
	   left: 50%;
	   transform: translate(-50%, -50%); 
	   z-index: 2;
	   color: white;
	   font-size: 40px;
	   font-weight: bold;
	   
	}

.container {
	border: 1px solid var(--color-gray-400);
	border-radius: 10px;
	margin: 20px auto;
	width: 500px;
	min-height: 400px;
	text-align: center;
	padding-top: 40px;}

/* table{ */
/* 	margin: auto; */
/* } */

.container .ss{
	font-weight: bold;
	font-size: 20px;
	padding-top: 10px;
}

.container .ss1{
	font-weight: bold;
	font-size: 20px;
	padding-top: 40px;
}
.container .ss2{
	font-weight: bold;
	font-size: 20px;
	padding-top: 60px;
}

.conbox{
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: solid 1px var(--color-gray-500);
	width: 200px;
	height: 50px;
	text-align: center;
	font-size: 17px;
	margin-bottom: 8px;
}

.conbox1{
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: solid 1px var(--color-gray-500);
	width: 200px;
	height: 50px;
	text-align: center;
	font-size: 17px;
	margin-bottom: 8px;
}

table{
	margin: auto;
}

.divbtn{
	text-align: center;
}

.divbtn .btn{
  text-align:center;
  background: none;
  border: none;
  height: 40px;
  width: 100px;
  transition: color 0.3s;
  background-color: #adc2a9;
  border-radius: 10px;
  display: inline;
  font-size: 18px;
}